.statistic{
  padding: 10px 80px;
}

.bar{
  cursor: pointer;
  padding: 5%;
}

.title{
  display: block;
  font-family: 'SFUI_semi';
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 1%;
}
.day_data_title{
  display: block;
  margin-top: 10%;
  font-family: 'SFUI_semi';
  font-size: 24px;
}
.day_data{
  margin-top: 10%;
  display: block;
}

.left{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right{
  width: 65%;
  background-color: #F4F4F4;
}

.top_block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.day_worktime{
  padding-left: 10%;
  background-color: #F4F4F4;
  height: 50%;
  margin-bottom: 10%;
}

.tomato{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  background-color: #F4F4F4;
}

.tomato_num{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'SFUI_semi';
  font-size: 24px;
}

.bottom_block{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.focus,
.pause,
.stop{
  width: 26%;
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content:space-between;
}

.text_content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 64px;
}

.text_content_title{
  font-family: 'SFUI_semi';
  font-size: 24px;
}

.title_select{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;
}

@media (max-width:500px) {
  .statistic{
    padding: 10px 10px;
  }
  .container{
    width: 100% !important;
  }
  .title_select{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 2%;
  }
  .title{
    text-align: left;
  }
  .top_block{
    display: flex;
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .day_worktime{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    margin-bottom: 2%;
  }
  .tomato{
    padding: 20px 0px;
    margin-bottom: 2%;
  }
  .right{
    width: 100%;
  }
  .bottom_block{
    display: flex;
    flex-direction: column;
    width: inherit;
  }
  .focus,
  .pause,
  .stop{
    width: inherit;
    padding: 20px 30px;
    margin-bottom: 3%;
  }
  .focus svg,
  .pause svg,
  .stop svg{
    width: 25%;
  }
  .text_content_title{
    font-size: 20px;
  }
}
