.header{
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
}
.stat_btn{
  background-color: transparent;
  color: var(--back-red);
  display: flex;
  align-items: center;
}

.stat_btn:hover{
  color: var(--app-red);
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.darkmode_btn{
  background-color: transparent;
}

.darkmode_btn:focus{
  outline: none;
}
.btn_plus,
.btn_minus{
  background-color: rgba(220, 62, 34, 1);
  color: #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.rounds{
  display: flex;
  color: var(--app-green);
  font-size: 20px;
  font-weight: bold;
  cursor:wait;
}
.rounds_control{
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.alert_btn{
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 500px) {
  .header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
  }
  .btns{
    width: 70%;
  }
  .rounds_control{
    width: 100%;
  }
}