.item{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: 1px solid #e4e4e4;
  position: relative;
}

.item:first-child{
  border-bottom: 1px solid #e4e4e4;
}

.index_content{
  width: inherit;
  display: flex;
  align-items: center;
}

.circle_container {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 30px;
}

.circle_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #c4c4c4; 
  border-radius: 50%; 
}

.number {
  position: absolute; 
  z-index: 1;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.list{
  display: flex;
  flex-direction: column-reverse;
}

.task_text{
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

.arrow_down:hover{
  transform: scale(1.1);
  transition: linear .3s;
}

.arrow_down{
  transform: scale(.9);
  transition: linear .3s;
}