.title{
  font-size: 24px;
  font-family: 'SFUI_semi';
}

.marker{
  color: var(--app-red);
  font-size: 16px;
  padding-right: 15px;
}

.list_item{
  color: #333333;
  line-height: 2;
  display: flex;
}

.list_item:last-child{
  margin-bottom: 0px;
}

@keyframes fadeOutUp {
  0% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
    margin-top: -50%;
  }
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
    margin-top: -50%;
  }
  100%{
    display: block;
    margin-top: 0px;
    opacity: 1;
  }
}

.guide_block {
  animation: fadeOutUp 1s forwards;
}

.before{
  animation: fadein 1s forwards;
}


@media (max-width: 500px) {
  @keyframes fadeOutUp {
    0% {
      display: block;
    }
    100% {
      display: none;
      opacity: 0;
      margin-top: -95%;
    }
  }
  
  @keyframes fadein {
    0% {
      display: none;
      opacity: 0;
      margin-top: -95%;
    }
    100%{
      display: block;
      margin-top: 0%;
      opacity: 1;
    }
  }
  
  .guide_block {
    animation: fadeOutUp 1s forwards;
  }
  
  .before{
    animation: fadein 1s forwards;
  }
}