.plus_btn{
  position: absolute;
  top: 40%;
  right: -25%;
  background-color: #f4f4f4;
}

.main_timer{
  position: relative;
  font-size: 150px;
  display: flex;
}

.list_status{
  margin-bottom: 30px;
}

.stop_btn{
  padding: 20px 50px;
  color: var(--back-red);
  border: 2px solid var(--back-red);
}

.stop_btn_dis{
  padding: 20px 50px;
  color: var(--grayc4);
  border: 2px solid var(--grayc4);
}

.skip_btn{
  padding: 20px 50px;
  color: #fff;
  background-color: var(--back-red);
}

.btn_block{
  display: flex;
  justify-content: space-around;
}

