.main{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plus_btn{
  position: absolute;
  top: 40%;
  right: -25%;
  background-color: transparent;
}

.main_timer{
  position: relative;
  font-size: 150px;
  display: flex;
  justify-content: center;
}

.list_status{
  margin-bottom: 30px;
}

.stop_btn{
  padding: 20px 50px;
  font-size: 16px;
  background-color: transparent;
  color: var(--back-red);
  border: 2px solid var(--back-red);
}

.stop_btn:hover{
  color: #fff;
  background-color: var(--back-red);
  border: 2px solid var(--back-red);
}

.stop_btn_dis{
  padding: 20px 50px;
  font-size: 16px;
  color: var(--grayc4);
  border: 2px solid var(--grayc4);
}

.skip_btn{
  font-size: 16px;
  background-color: transparent;
  padding: 20px 50px;
  color: var(--back-red);
  border: 2px solid var(--back-red);
}

.skip_btn:hover{
  color: #fff;
  background-color: var(--back-red);
  border: 2px solid var(--back-red);
}

.btn_block{
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.stop_btn:active,
.skip_btn:active{
  background-color: #B7280F;
  border-color: #B7280F;
}


.num_green{
  color: var(--app-green);
}
.num_red{
  color: var(--back-red);
}
.num_def{
  color: #333;
}