.general{
  padding: 100px 80px;
  display: flex;
  justify-content: space-between;
}
.leftside{
  width: 40%;
}
.rightside_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
}
.rightside_def{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: 10%;
  background-color: #f4f4f4;
}

.rightside_red{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: 10%;
  background-color: #f4f4f4;
  border: 1px solid var(--back-red);
}

.rightside_green{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: 10%;
  background-color: #f4f4f4;
  border: 1px solid var(--app-green);
}

.title,
.count{
  padding: 20px 40px;
}
.title_block{
  color: #fff;
  width: 100%;
  display: flex;
  background-color: var(--grayc4);
  justify-content: space-between;
  margin-bottom: 50px;
}

.title_green{
  background-color: var(--app-green);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.title_red{
  background-color: var(--back-red);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.title_def{
  background-color: #333;
  color: #fff;
  width: 100%;
  display: flex;
  background-color: var(--grayc4);
  justify-content: space-between;
  margin-bottom: 50px;
}