:root {
  --app-red: #B7280F;
  --app-green: #A8B64F;
}

@font-face {
  font-family: 'SFUI_light';
  src: url(./fonts/SFUIDisplay-Light.ttf);
}

@font-face {
  font-family: 'SFUI_reg';
  src: url(./fonts/SFUIDisplay-Regular.ttf);
}

body{
  font-family: 'SFUI_light';
  color: #333;
  font-size: 16px;
  font-weight: 100;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}


h1,h2,h3{
  margin: 0px;
}

.green_btn{
  color: #fff;
  background-color: var(--app-green);
  border: 2px solid var(--app-green);
  padding: 20px 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}