:root {
  --app-red: #B7280F;
  --app-green: #A8B64F;
  --back-red: #DC3E22;
  --minus: #dc3e2280;
  --plus: #a8b64f7d;
  --grayc4: #C4C4C4;
}

@font-face {
  font-family: 'SFUI_light';
  src: url(./fonts/SFUIDisplay-Light.ttf);
}

@font-face {
  font-family: 'SFUI_reg';
  src: url(./fonts/SFUIDisplay-Regular.ttf);
}

@font-face {
  font-family: 'SFUI_semi';
  src: url(./fonts/SFUIText-Semibold.ttf);
}

body{
  font-family: 'SFUI_light';
  color: #333;
  font-size: 16px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}


h1,h2,h3,p{
  margin: 0px;
}

.green_btn{
  color: #fff;
  background-color: var(--app-green);
  padding: 20px 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--app-green);
}

.green_btn_pause{
  color: var(--app-green);
  background-color: transparent;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--app-green);
  transition: linear .2s;
}

.green_btn_pause:hover{
  color: #fff;
  background-color: var(--app-green);
  padding: 20px 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--app-green);
  transition: linear .2s;
}

.green_btn:active{
  background-color: #899441;
  border-color: #899441;
}

.tymer_num_green{
  color: var(--app-green);;
}

.tymer_num_red{
  color: var(--back-red);
}

.tymer_num_def{
  color: #333;
}

.red_color{
  color: #B7280F;
}

.dn{
  display: none;
}

.one_num_block_seconds_two{
  width: 200px;
}

.one_num_block_minutes_two{
  width: 200px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.btn-animation {
  animation: fadeInOut 0.5s ease-in-out;
}

.btn-animation-sec {
  animation: fadeInOut 0.5s ease-in-out;
}

.strike-animation {
  overflow: hidden; 
  position: relative;
}

.strike-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--app-red); 
  transform-origin: left;
  animation: strike .4s linear forwards;
  opacity: 0; 
}

@keyframes strike {
  0% {
      transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
      opacity: 1;
  }
}

.fade_out{
  transition: linear .5s;
  opacity: 0;
}

.b{
  font-weight: bold;
}

.greenBorder{
  border: 2px solid var(--app-green);
}

@media (max-width:500px) {
  .green_btn,
  .green_btn_pause{
    padding: 10px 25px;
  }
  .one_num_block_seconds_two,.one_num_block_minutes_two{
    width: 160px;
  }
  .green_btn_pause:hover{
    padding: 10px 25px;
  }
}

@keyframes fade_in{
  0%{
    visibility: inherit;
    bottom: -10%;
  }
  40%{
    visibility: visible;
    bottom: 5%;
  }
  100%{
    visibility: visible;
    bottom: 5%;
  }
}

@keyframes fade_out{
  0%{
    visibility: visible;
    bottom: 5%;
  }
  100%{
    visibility: hidden;
    bottom: -10%;
  }
}

.fade_in{
  animation: fade_in 2s;
}

.fade_out{
  animation: fade_out 1s;
}
