:root {
  --app-red: #B7280F;
  --app-green: #A8B64F;
  --back-red: #DC3E22;
  --grayc4: #C4C4C4;
}

@font-face {
  font-family: 'SFUI_light';
  src: url(./fonts/SFUIDisplay-Light.ttf);
}

@font-face {
  font-family: 'SFUI_reg';
  src: url(./fonts/SFUIDisplay-Regular.ttf);
}

@font-face {
  font-family: 'SFUI_semi';
  src: url(./fonts/SFUIText-Semibold.ttf);
}

body{
  font-family: 'SFUI_light';
  color: #333;
  font-size: 16px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}


h1,h2,h3,p{
  margin: 0px;
}

.green_btn{
  color: #fff;
  background-color: var(--app-green);
  padding: 20px 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.green_btn:active{
  background-color: #899441;
  border-color: #899441;
}

.tymer_num_green{
  color: var(--app-green);
}

.tymer_num_red{
  color: var(--back-red);
}

.tymer_num_def{
  color: #333;
}

.red_color{
  color: #B7280F;
}