.form{
  position: relative;
  width: 100%;
}
.input_block{
  display: flex;
  flex-direction: column;
}

.input{
  padding: 20px;
  width: calc(100% - 40px);
  margin: 25px 0px;
  background-color: #F4F4F4;
  border: none;
  font-family: 'SFUI_reg';
  font-size: 20px;
  border: 2px solid transparent;
}

.input_dark{
  padding: 20px;
  width: calc(100% - 40px);
  margin: 25px 0px;
  border: none;
  font-family: 'SFUI_reg';
  font-size: 20px;

  background-color: transparent !important;
  border: 2px solid #fff;
}
.input_dark::placeholder{
  color: #ffffff9a;
  font-family: 'SFUI_light';
}
.input::placeholder{
  color: #999;
  font-family: 'SFUI_light';
}

.input:focus,
.btn_hide:focus{
  outline: none;
}

.btn{
  border: none;
  margin-bottom: 25px;
}

.btn_hide{
  position: absolute;
  bottom: 20px;
  right: 25%;
  opacity: .5;
}

@media (max-width:500px) {
  .btn{
    width: 100%;
  }
  .input{
    padding: 5% 3%;
    width: 93%;
  }
  .btn_hide{
    position: absolute;
    bottom: 9%;
    right: 0%;
  }
}