.input_block{
  display: flex;
  flex-direction: column;
}

.input{
  padding: 20px 0px 20px 15px;
  width: 80%;
  margin: 25px 0px;
  background-color: #F4F4F4;
  border: none;
  font-family: 'SFUI_reg';
}

.input::placeholder{
  color: #999;
  font-family: 'SFUI_light';
}

.input:focus{
  outline: none;
}

.btn{
  border: none;
  margin-bottom: 25px;
}